body{
    background-color: rgb(255, 253, 245);
}

.enroll img{
    width: 70%;
    padding-left: 15%;
}

.firstline{
    display: flex;
    /* width: 100%; */
    padding-top: 2%; 
}
a{
    color: grey;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
}
.firsta{
    padding-left: 8%;
}
.zurilogo{
    padding-left: 3%;
}
.firstb{
    padding-left: 4%;
    width: 20%;
}
.firstc{
    width: 30%;
}
.secondline{
    display: flex;
    margin: 5%;
    
   
   
}
.imgfemale img{
margin-top: 30%;

}
.imgmale img{
 margin-top: 30%;   
    
  }

.secondlinemid{
    margin-right: 5cm;
    width: 100%;
    text-align: center;
}
.gain{
   font-size: 36pt; 
   width: 160%;
   
}