body{
    background-color: rgb(255, 253, 245);
}

.enroll img{
    width: 70%;
    padding-left: 15%;
}

.firstline{
    display: flex;
    /* width: 100%; */
    padding-top: 2%; 
}
a{
    color: grey;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
}
.firsta{
    padding-left: 8%;
}
.zurilogo{
    padding-left: 3%;
}
.firstb{
    padding-left: 4%;
    width: 20%;
}
.firstc{
    width: 30%;
}
.secondline{
    display: flex;
    width: 30%;
        
}

.midflex{
    display: flex;
}
.button3{
    background-color: red;
    border: 0cm;
    width: 4cm;
    height: 1cm;
    border-radius: 2cm;
}

.textheight{
    width: 12cm;
    margin-left: 1cm;
}

.imgfemale img{
margin-top: 30%;
padding-left: 20%;

}
.imgmale img{
 margin-top: 30%;
 
     
  }

.secondlinemid{
    margin-right: 5cm;
    width: 100%;
    position: relative;
    top: -2cm;

   
}
.gain{
   font-size: 30pt; 
   margin-left: 20%;
   width: 15cm;
   position: relative;
   top: -1cm;
   
   
}

.line{
    margin-left: 70%;
    
    
}
.search{
    padding-top: 20%;
    padding-left: 12%;
    
}